.Page-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  text-align: center;
}

.Page {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 16px;
}

.Page:hover {
  background-color: #E1E1E1;
}

.Page-current {
  background-color: #0087E9;
  color: #fff;
}

.Page-current:hover {
  background-color: #0087E9;
}

.Page-disabled {
  pointer-events: none;
}