.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.Modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000054;
}

.Modal-content {
  width: 70vw;
  border-radius: 5px;
  background-color: #fff;
}

.Modal-opened {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.Modal-strong {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 20px 80px;
  font-weight: bold;
}