/* Контрол с общими действиями */
.Nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.Nav-total {
  font-weight: bold;
  margin: 0 20px;
}

.Nav-link {
  color: #0087E9;
}
